<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="" method="get">
        <label for="login">Usuario</label>
        <input type="text" name="login_usr" id="login">

        <label for="senha">Senha</label>
        <input type="password" name="senha_usr" id="senha">

        <input type="submit" value="Cadastrar">
    </form>
    <p><%=envio%></p>
    <form action="https://senhas.onrender.com"> <input type="submit" value=" VOLTAR PARA LOGIN"></form>
    
</body>
</html>