<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <h1>Consulta de Titulos</h1>
    <link rel="stylesheet" href="estilo.css">
    <link rel="icon" href="fotos/LT.jpg" type="image/x-icon">

    
</head>

<body class="body">
  <table>
    <form action="" target="_self" method="get">
      <tr><td><label for="nome_titulo" id="escrita">Nome do Titulo : </label></td>
      <td><input type="text" id="fname" name="nome_titulo"></td></tr>

      <tr><td><label for="valor_titulo" id="escrita">Valor : </label></td>
      <td><input type="text" id="lname" name="valor_titulo"></td></tr>

      <tr><td><label for="valor_titulo" id="escrita" >Categoria: </label></td>
        <td><select list="valor_titulo" id="escrita" class="body" name="categoria_titulo">
        <option value="Empresas">Empresas</option>
        <option value="Email">Email</option>
        <option value="Serviços">Serviços</option>
        <option value="Redes Sociais">Redes Sociais</option>
        <option value="Tecnologia">Tecnologia</option>
        <option value="Sites">Sites</option>
        <option value="Funcionario">Funcionario</option>
        </select></td></tr>

        <tr><td><label for="emissao_titulo" id="escrita">Data de Emissão: </label></td>
          <td><input type="date" id="lname" name="emissao_titulo"></td></tr>
      
      <tr><td><label for="vencimento_titulo" id="escrita">Data de Vencimento: </label></td>
      <td><input type="date" id="lname" name="vencimento_titulo"></td></tr>

      <tr><td><input type="submit" id="botão1" class="button" value="Submit">
      <button id="atualizar" id="botão1" class="button" onclick="atualizar()">Refresh</button></tr></td>
    
    </form>
  </table>
  <button id="atualizar" id="botão1" class="button" onclick="window.location.href = 'https://senhas.onrender.com/mostrar';">Mostrar</button>
  <button id="atualizar" id="botão1" class="button" onclick="window.location.href = 'https://senhas.onrender.com';">Sair</button>

    <script src="script.js"></script>



    </body>
</html>